rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /songs/{songId} {
      // Allows anyone to see the song list and play music
      allow read: if true; 
      // Only allows you to add or edit songs if you are logged in
      allow write: if request.auth != null; 
    }
  }
}
